.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  text-align: left;
  background-color: #282c34;
}

.AppHeader {
  height: 90px;
  display: flex;
  background-image: linear-gradient(to right top, #ffbe56, #ffcc5a, #ffdb5f, #fce967, #f9f871);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.container {

  height: auto ;
  width: auto ;
  /* background-color: white ; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px ;
  margin-bottom: 10px;
}
.receiver {

  color:#EF517F ;
}

.form div button {
  margin: 10px 0 10px 0;
  padding: 15px;
  width: 200px ;
  height: 50px;
  background-image: linear-gradient(to right top, #ffbe56, #ffcc5a, #ffdb5f, #fce967, #f9f871);
  color: #fff ;
  border:#ffbe56;
  font-weight: 900;
  font-size: 15px;
  border-radius: 5px ;
}

.input {
  background: #f2f2f2;
  border-radius: 5px ;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  border-radius: 5px ;
}
.formButton {
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
   width: 200px ;
  height: 50px;
  background-image: linear-gradient(to right top, #ffbe56, #ffcc5a, #ffdb5f, #fce967, #f9f871);
  color: #fff ;
  border:#ffbe56;
  font-weight: 900;
  font-size: 15px;
  border-radius: 5px ;
}


